<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link rel="stylesheet" href="/static/styles/myprofile.css" />
  </head>
  <body class="cadre_scroll">
    <div class="header">
      <a href="/template/home.html">
        <img src="/static/logo_twitter.jpeg" alt="logo"
      /></a>

      <ul class="menu">
        <ul>
          <h3>My Profile</h3>
        </ul>
        <form method="POST" action="{{ url_for('search')}}" class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            ,
            name="searched"
          />
          <button class="search" type="submit">Search</button>
        </form>
        <li>
          <a href="/template/home.html">Home</a>
        </li>
        <li>
          <a href="/template/login.html">Logout</a>
        </li>
      </ul>
    </div>
    <div class="info">
      <ul>
        <li><img src="/static/profile.jpeg" alt="profile" /></li>
        <li><div class="delete">
            <a href="/delete_account/{{current_user.id}}" class="delete-button"
              >Delete Account</a
            >
          </div></li>
        <li style="font-weight: 600">@{{current_user.username}}</li>
        <li style="color: gray">{{current_user.email}}</li>
      </ul>
      
    </div>
    <div >
      <nav>
        <ul>
          <li class="deroulant"><a href="#" >Followers &ensp;</a>
            <ul class="sous"  style="background-color: rgb(148, 196, 241)">
              {% from '_formhelp.html' import render_field %} {% if
                  users_following_me|length ==0 %}
                  <p>You have 0 followers.</p>
                  {% endif %}
          
                  <div id="follower" class="follower">
                    {% for user in users_following_me %}
                    <ul>
                    <p class="uf" style="font-size: 15px">
                      {{user.username}} {% if user in users_not_followed %}
          
                      <a
                        href="/follow/{{user.id}}"
                        style="float: right; border-radius: 5px"
                        class="btn btn-outline-danger btn sm"
                        >Follow Back</a
                      >
          
                      {% endif %}
                    </p>
                    </ul>
                    {% endfor %}
                    
                  </div>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="data">
      <ul>
        <li class="nbr" style="font-weight: 600">
          {{users_following_me|length}} followers
        </li>
        <li class="nbr" style="font-weight: 600">
          {{users_followed|length}} followings
        </li>
      </ul>
    </div>
    <div class="columnrighttop" style="background-color: rgb(148, 196, 241)">
      <h4>Following suggestions</h4>
      {% from '_formhelp.html' import render_field %} {% if
      users_not_followed|length ==0 %}
      <p>No user to follow. You already follow everyone!</p>
      {% endif %} {% for user in users_not_followed %}
      <div
        class="suggestions"
        style="
          padding: 10px;
          background-color: rgb(255, 255, 255);
          margin: 10px;
        "
      >
        <p style="font-size: 15px">
          {{user.username}}
          <a href="/follow/{{user.id}}" class="btn btn-outline-danger btn sm"
            >Follow</a
          >
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="columnrightbottom" style="background-color: rgb(148, 196, 241)">
      <h4>Followings</h4>
      {% from '_formhelp.html' import render_field %} {% if
      users_followed|length ==0 %}
      <p style="margin-left: 10px">You don't follow anyone.</p>
      {% endif %} {% for user in users_followed %}
      <div
        class="followings"
        style="
          padding: 10px;
          background-color: rgb(255, 251, 251);
          margin: 10px;
        "
      >
        <p style="font-size: 15px">
          {{user.username}}
          <a href="/unfollow/{{user.id}}" class="btn btn-outline-danger btn sm"
            >Unfollow</a
          >
        </p>
      </div>
      {% endfor %}
    </div>



    <div class="my_tweets">
        <h4>My Tweets</h4>
        {% if perso_tweets|length != 0 %}
        {% for tweet in perso_tweets %}
        <div class="tweet" style="padding: 10px; background-color: #eee; margin: 20px">
            <img src="/static/profile.jpeg" alt="profile" />
             @{{current_user.username}}
            <p style="font-size: 24px">{{loop.index}}. {{tweet.title}}</p>
            <p style="font-size: 18px">{{tweet.content}}</p>
            <ul>
            <li><p style="font-size: 14px" >{{ tweet.likes.count() }} likes</p></li>
            <li><a href="/delete/{{tweet.id}}" class="delete_tweet"
              ><p>Delete</p></a
            ></li>
        </ul>
    </div>

    {% endfor %}
    {% endif %}
    {% if perso_tweets|length == 0 %}
    <p> You have no tweet</p>
    {% endif %}
  </body>
</html>

