<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Twitter_Register</title>
    <link rel="stylesheet" href="/static/styles/register.css" />
  </head>
  <body class="cadre_scroll">
    <div class="header">
      <img src="/static/logo_twitter.jpeg" alt="logo" />
      <ul class="menu">
        <li>
          <a href="/template/login.html">Login</a>
        </li>
        <li>
          <a href="/template/register.html">Register</a>
        </li>
      </ul>
    </div>
    <div class="center">
      <h1>Register</h1>
      {% from '_formhelp.html' import render_field %}
      <form method="POST">
        <div class="txt_field">
          <label>Email</label>
          {{ render_field(form.email, class_ = "input field") }}
        </div>
        <div class="txt_field">
          <label>Username</label>
          {{ render_field(form.username, class_ = "input field") }}
        </div>
        <div class="txt_field">
          <label>Password</label>
          {{ render_field(form.password, class_ = "input field") }}
        </div>
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
